.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(107, 107, 107, 0.5), rgba(107, 107, 107, 0.5)), url('https://cdn.shopify.com/s/files/1/0793/4099/files/Capture_One_Catalog1419293_2000x889_crop_center.jpg?v=1637092451');
    background-size: cover;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color:rgb(255, 100, 100);
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
}